@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    font-size: 18px;
    --pink: #f15ad1;
    --dark-pink: #da57bd;
    --light-grey: #696969;
    --grey: #555555;
    --dark-grey: #3d3d3d;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Noto Sans JP', sans-serif;
}

article {
    background-color: var(--grey);
    padding: 2em;
    margin: 3em 0;
    border-radius: 4px;
    max-width: calc(60ch - 4em);
}

p,
label,
h1,
h2,
h3,
li,
span {
    color: white;
}

a {
    color: var(--pink);
    text-decoration: none;
}

a:hover {
    color: var(--dark-pink);
}