@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    font-size: 18px;
    --pink: #e030d2;
    --dark-pink: #cf61c6;
    --light-grey: #696969;
    --grey: #555555;
    --dark-grey: #444444;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--grey);
    padding: 0.8em;
}

header * {
    margin: 0 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

article {
    background-color: var(--grey);
    padding: 2em;
}

p,
legend,
h1 {
    color: white;
}

a {
    color: var(--dark-pink);
    text-decoration: none;
}

a:hover {
    color: var(--pink);
}

fieldset {
    border: none;
}

.searchbar {
    width: 10em;
    padding: 1.2em;
    border: none;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.5em black;
    background-color: white;
    transition: width 0.3s ease-out;
}

.searchbar:focus-within {
    width: 15em;
}

input {
    all: unset;
    width: calc(100% - 1.5em);
    border-bottom: white solid 2px;
}

input:focus {
    outline: none;
    border-color: #aaaaaa;
}

.searchbutton {
    all: unset;
}

.searchbutton:hover {
    cursor: pointer;
}

.loading {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 1em solid #8d8d8d;
    border-top: 1em solid #0cf0f0;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.error {
    color: red;
}

.hide {
    display: none;
}