@mixin flexCenterAll($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}

@mixin link {
    all: unset;
    color: var(--pink);
    cursor: pointer;

    &:hover {
        color: var(--dark-pink);
    }
}

[tabindex]:focus-visible {
    outline: 0.2em var(--light-grey) solid;
}